<a [routerLink]="['/']">Name</a>
<div class='resources'>
  <div class='labels'>
    <div class='resourceItem'>{{ this.resources[0].name }}: </div>
    <div class='resourceItem'>{{ this.resources[1].name }}: </div>
    <div class='resourceItem'>{{ this.resources[2].name }}: </div>
  </div>
  <div class='values'>
    <div class='resourceValue'>{{ this.resources[0].amount }}</div>
    <div class='resourceValue'>{{ this.resources[1].amount }}</div>
    <div class='resourceValue'>{{ this.resources[2].amount }}</div>
  </div>
</div>